PORT=5001
NODE_ENV=development

# If using Docker, this should match the DB service's name.
# If not using Docker, remove.
DB_HOST=db

OAUTH_CLIENT_ID=your_client_id # should match the one in frontend.env

JWT_SECRET=your_jwt_secret
JWT_EXPIRES_IN=90 # JWT expiry time in days

POSTGRES_USER=postgres
POSTGRES_PASSWORD=my_password
POSTGRES_DB=notebooks
POSTGRES_TEST_DB=notebooks_test
