REACT_APP_STATIC_URL=http://localhost:5001
REACT_APP_API_URL=http://localhost:5001/api/v1

# should match the one in backend.env
REACT_APP_OAUTH_CLIENT_ID=your_client_id

TSC_COMPILE_ON_ERROR=true
ESLINT_NO_DEV_ERRORS=true
